/* COLORES */
/* TEXTOS */
header {
  color: #FF005D;
  background-color: #FFE846;
  font-family: "Luckiest Guy", cursive;
  text-transform: uppercase; }
  header .container-fluid {
    padding: 0 3rem; }
    header .container-fluid .logo {
      height: 50px; }
    header .container-fluid .navbar-nav {
      margin-left: 3rem; }
      header .container-fluid .navbar-nav-li {
        list-style-type: none; }
        header .container-fluid .navbar-nav-li a, header .container-fluid .navbar-nav-li .dropdown-toggle {
          text-decoration: none;
          color: #FF005D; }
        header .container-fluid .navbar-nav-li .dropdown-menu {
          background-color: #FFE846;
          border: none;
          text-align: center; }

/* MEDIA QUERIES PARA TABLET */
@media only screen and (min-width: 768px) {
  .container-fluid {
    padding-right: 3.5rem;
    display: flex;
    justify-content: space-between; }
    .container-fluid .navbar-nav {
      display: flex;
      justify-content: space-around; }
      .container-fluid .navbar-nav-li a:hover {
        color: white; } }

/* MEDIA QUERIES PARA NOTEBOOK */
@media only screen and (min-width: 992px) {
  .navbar-nav {
    font-size: 1.2rem; } }

/* COLORES */
/* TEXTOS */
/* COLORES */
/* TEXTOS */
.button {
  background-color: #00D49D;
  color: black;
  font-size: 12px;
  width: 90px;
  height: 25px;
  background: linear-gradient(to bottom, #00D49D, #009b72);
  box-shadow: 0 3px 3px rgba(88, 88, 88, 0.5);
  font-family: "Luckiest Guy", cursive;
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
  margin: 10px auto 20px auto; }
  .button:hover {
    color: #00D49D;
    background: black; }

.adoptame {
  background-color: white;
  color: #FF005D;
  font-size: 1rem;
  width: 120px;
  height: 35px;
  font-family: "Luckiest Guy", cursive;
  text-transform: uppercase;
  box-shadow: 5px 5px 10px rgba(88, 88, 88, 0.5);
  border: none;
  border-radius: 25px;
  margin-top: 20px; }

.footer {
  background: linear-gradient(to bottom, #FFE846, #ffe30f);
  font-family: "Luckiest Guy", cursive;
  text-transform: uppercase;
  color: black;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  padding: 1.5rem 0; }
  .footer__seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.6rem; }
    .footer__seccion p, .footer__seccion label {
      margin-bottom: 0.3rem; }
    .footer__seccion .input {
      font-family: "Roboto", sans-serif;
      border-radius: 1rem;
      border: none;
      padding-left: 1rem; }
    .footer__seccion .navbar-nav-li {
      margin-right: 0.6rem; }
      .footer__seccion .navbar-nav-li:hover {
        transform: scale(1.1);
        transition-duration: 300ms; }
    .footer__seccion .wsp {
      margin-right: 1rem; }
      .footer__seccion .wsp:hover {
        transform: scale(1.1);
        transition-duration: 300ms; }

/* MEDIA QUERIES PARA TABLET */
@media only screen and (min-width: 768px) {
  .footer {
    font-size: 1.3rem; } }

/* COLORES */
/* TEXTOS */
main {
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

h1, h2 {
  color: #FF005D;
  font-family: "Luckiest Guy", cursive;
  text-transform: uppercase;
  text-align: center;
  width: 100%; }

h2 {
  color: #00D49D;
  width: fit-content; }

/* COLORES */
/* TEXTOS */
/* Carrusel adopcion */
.perroEnAdopcion {
  background: linear-gradient(to bottom, #00D49D, #009b72);
  color: white;
  border-radius: 0.6rem;
  font-family: "Roboto", sans-serif;
  max-width: 450px; }
  .perroEnAdopcion__contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem; }
    .perroEnAdopcion__contenido__cajaFoto {
      border-radius: 1rem;
      overflow: hidden; }
    .perroEnAdopcion__contenido .card-title {
      color: #000000;
      font-weight: 700;
      font-size: 1.2rem;
      margin-bottom: 0; }
    .perroEnAdopcion__contenido .card-text {
      list-style-type: none;
      margin-left: -30px;
      color: #000000; }

@media only screen and (min-width: 576px) {
  .carousel:hover {
    transform: scale(1.05);
    transition-duration: 300ms;
    cursor: pointer; }
  .carousel .perroEnAdopcion {
    max-width: 500px; }
    .carousel .perroEnAdopcion__contenido .adoptame {
      animation-name: cambioColor;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in;
      animation-duration: 2s; }
      .carousel .perroEnAdopcion__contenido .adoptame:hover {
        transform: scale(1.05);
        transition-duration: 300ms;
        animation: none;
        color: black; }
    .carousel .perroEnAdopcion__contenido .card-title {
      font-size: 1.5rem; }
    .carousel .perroEnAdopcion__contenido .card-text {
      font-size: 1.2rem; }
  @keyframes cambioColor {
    0% {
      color: #FF005D; }
    50% {
      color: #000000; }
    100% {
      color: #FF005D; } } }

/* Portadas */
.portadas {
  display: flex;
  justify-content: space-between;
  max-width: 1000px; }
  .portadas__portada:hover {
    transform: scale(1.05);
    transition-duration: 300ms; }
  .portadas__portada__foto {
    border-radius: 3rem; }

/* COLORES */
/* TEXTOS */
.perrosInfo {
  font-family: "Roboto", sans-serif;
  color: black; }
  .perrosInfo ul {
    list-style-type: none;
    margin-left: -30px; }
  .perrosInfo .titulo {
    font-size: 1.2rem;
    color: #FF005D;
    margin-bottom: 0; }

@media only screen and (min-width: 768px) {
  .perrosInfo {
    font-size: 1.3rem; }
    .perrosInfo .titulo {
      font-size: 1.5rem; } }

.adopcion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1000px; }

@media only screen and (min-width: 576px) {
  .card-perro:hover {
    transform: scale(1.05);
    transition-duration: 300ms;
    cursor: pointer; }
    .card-perro:hover .adoptame {
      animation-name: cambioColor;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in;
      animation-duration: 2s; }
      .card-perro:hover .adoptame:hover {
        transform: scale(1.05);
        transition-duration: 300ms;
        animation: none;
        color: black; }
  @keyframes cambioColor {
    0% {
      color: #FF005D; }
    50% {
      color: #000000; }
    100% {
      color: #FF005D; } } }

/* COLORES */
/* TEXTOS */
.colabora {
  font-family: "Roboto", sans-serif; }
  .colabora .titulo {
    font-size: 1.2rem;
    color: #FF005D;
    margin-bottom: 0; }

@media only screen and (min-width: 768px) {
  .colabora {
    font-size: 1.3rem; }
    .colabora .titulo {
      font-size: 1.5rem; } }

/* COLORES */
/* TEXTOS */
.barraBusqueda {
  width: 40%;
  margin-bottom: 1rem; }
  .barraBusqueda .buscador {
    width: 100%;
    height: 50px;
    border: 1px solid #C4C4C4;
    border-radius: 25px;
    padding-left: 20px;
    font-size: 1.2rem; }

.articulos {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem; }
  .articulos a {
    text-decoration: none;
    color: #424242;
    display: flex;
    justify-content: center;
    max-height: 400px;
    max-width: 350px; }
  .articulos .art {
    background-color: rgba(240, 240, 240, 0.993);
    width: 90%;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.7rem 1rem; }
    .articulos .art__foto {
      margin: auto 0;
      padding: 1rem;
      border-radius: 2rem; }
    .articulos .art__preview {
      margin-top: 0; }
      .articulos .art__preview__titulo {
        color: #FF005D;
        text-transform: uppercase;
        font-family: "Luckiest Guy", cursive;
        font-size: 1.4rem;
        text-align: center; }

/* COLORES */
/* TEXTOS */
/* Seccion nosotros */
.nosotros {
  margin: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif; }
  .nosotros h2 {
    text-align: left; }
  .nosotros ul {
    list-style-type: none;
    margin-left: -30px; }
  .nosotros__foto {
    border-radius: 25px;
    width: 80%;
    margin-bottom: 10px; }

@media only screen and (min-width: 768px) {
  .nosotros {
    flex-direction: row; }
    .nosotros__foto {
      width: 250px;
      margin: 10px 1rem; }
  .derecha {
    flex-direction: row-reverse; } }

@media only screen and (min-width: 992px) {
  .nosotros {
    font-size: 1.2rem; } }

/* Seccion Contacto */
.contacto {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .contacto__form {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center; }
    .contacto__form__input {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      align-items: center; }
      .contacto__form__input .input {
        width: 100%;
        padding: 0.2rem 1rem;
        border-radius: 20px;
        border: 1px solid #00D49D; }
    .contacto__form .newsletter {
      flex-direction: row;
      justify-content: center;
      font-size: 0.6rem; }
    .contacto__form .contenedorMensaje {
      width: 100%; }
      .contacto__form .contenedorMensaje .mensaje {
        border-radius: 20px;
        border: 1px solid #00D49D;
        padding: 20px;
        width: 100%; }
    .contacto__form .botones {
      margin: auto; }
      .contacto__form .botones .grande {
        width: 120px;
        height: 35px; }
      .contacto__form .botones .limpiar {
        border-radius: 20px;
        border: 1px solid #00D49D;
        font-size: 10px;
        width: 90px;
        height: 25px; }

/* COLORES */
/* TEXTOS */
.pagina404 {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif; }
  .pagina404 .img404 {
    margin-bottom: 20px;
    height: 300px;
    width: auto; }
  .pagina404 .link404 {
    font-size: 2rem;
    text-decoration: none;
    color: #FF005D; }
