@import "variables";
@import "buttons";

.footer{
    background: linear-gradient(to bottom, #FFE846, #ffe30f ) ;
    font-family: $fuenteSecundaria;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    padding: 1rem 0 0rem 0;

    &__seccion{        
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0.6rem;

        & p, label{
            margin-bottom: 0.1rem;
        }

        & .input {
            font-family: $fuentePrincipal;
            border-radius: 1rem;
            border: none;
            padding-left: 1rem;
        }

        & .navbar-nav-li{
            margin-right: 0.6rem;

            &:hover{
                transform: scale(1.1);
                transition-duration: 300ms;
            } 
        }

        & .wsp{
            margin-right: 1rem;

            &:hover{
                transform: scale(1.1);
                transition-duration: 300ms;
            }
        }
    }
}

/* MEDIA QUERIES PARA TABLET */

@media only screen and (min-width: 768px){
    .footer{
        font-size: 1rem;
    }
}
