@import "variables";

main{
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: $fucsia;
    font-family: $fuenteSecundaria;
    text-transform: uppercase;
    text-align: center;
    width: 100%;  
}

h2 {
    @extend h1;
    color: $celeste;
    width: fit-content;   
}