@import "variables";

.barraBusqueda{
    width: 40%;
    margin-bottom: 1rem;

    .buscador{
        width: 100%;
        height: 50px;
        border: 1px solid #C4C4C4;
        border-radius: 25px;
        padding-left: 20px;
        font-size: 1.2rem;
    
    }
}

.articulos{
    font-family: $fuentePrincipal;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    

    & a{
        text-decoration: none;
        color: rgb(66, 66, 66);
        display: flex;
        justify-content: center;
        max-height: 400px;
        max-width: 350px;
    }

    .art {        
        background-color: rgba(240, 240, 240, 0.993);
        width: 90%;
        height: 100%;
        border-radius: 1rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        padding: 0.7rem 1rem;
            
            &__foto {
                margin: auto 0;
                padding: 1rem;
                border-radius: 2rem;
            }

            &__preview{
                margin-top: 0;
                &__titulo {
                    color: $fucsia;
                    text-transform: uppercase;    
                    font-family: $fuenteSecundaria;
                    font-size: 1.4rem;
                    text-align: center;

                }

            }
            
    
    }
}